<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charborder-primary="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Layout</title>
  </head>
  <body>
    <header class="border-primary text-center p-25">header</header>
    <nav class="border-primary text-center p-25">nav</nav>
    <div class="container">
      <div class="content">
        <section class="border-primary">section</section>
        <article class="border-primary">article</article>
      </div>
      <aside class="border-primary">aside</aside>
    </div>

    <footer class="border-primary text-center p-25">footer</footer>
  </body>
</html>
